// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension

/ {
	sensor_sim: sensor_sim{
		compatible = "nordic,sensor-sim";
		acc-signal = "wave";
		acc-wave-type = "triangle";
		acc-wave-amplitude = < 10 >;

	};
};

&i2c0 {
	status = "okay";

	bme688: bme688@76 {
		compatible = "bosch,bme680";
		status = "okay";
		reg = <0x76>;
	};

	bmi270: bmi270@68 {
		compatible = "bosch,bmi270";
		status = "okay";
		reg = <0x68>;
	};
};

&mx25r64 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		sensor_data_ex_partition: partition@0 {
			label = "sensor_data_ex_partition";
			reg = <0x00000000 0x00800000>;
		};
	};
};

/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;
&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x0000C000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x00070800>;
		};
		slot1_partition: partition@7c800 {
			label = "image-1";
			reg = <0x0007c800 0x00070800>;
		};

		storage_partition: partition@ed000 {
			label = "storage";
			reg = <0x000ed000 0x00005000>;
		};
		sensor_data_in_partition: partition@f2000 {
			label = "sensor_data_in_partition";
			reg = <0x000f2000 0x0000e000>;
		};		
	};
};